numpy>=1.22.2
python-dateutil>=2.7.3
requests>=2.19.1
tensorflow>=2.11.1
pandas>=0.23.4
scikit-learn>=0.19.2
scipy>=1.1.0
matplotlib>=2.2.3
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability